<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blinc DB Server</title>
    <style>
      .card {
        margin: auto;
        width: 500px;
        height: 200px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <h1>Blinc DB is running.</h1>
      <p>This build is in develpoment mode.</p>
    </div>
  </body>
</html>
